@import '../../../../assets/scss/$_color-variables.scss';
@import '../../../../assets/scss/$_typograph.scss';

button {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 0.7em 1em;
    color: white;
    font-size: $Body;
    transition: all 0.25s;
}

.active {
    background: $pale-sky;
}

button:active {
    transform: scale(0.9);
    background-color: #36393cdc;
}